<%- include("./partials/header", {pageTitle: "Admin Page"}) %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to the Admin Page, <%=name%></h1><br><br>
      <% for(let i=0; i < users.length; i++) { %>
    <%- include('./templates/user', {user: users[i]}) %>
    <% } %>
    </div>
  </div>
  <script src="/admin.js"></script>
  <%- include("./partials/footer") %>