<%- include("./partials/header", {pageTitle: "Home Page"})%>
<% if (name) { %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome, <%= name %>!</h1>
            <p>You are logged in.</p>
            <a href="/members" class="btn btn-primary">Members</a>
            <% if (locals.userType === "admin") { %>
                <a href="/admin" class="btn btn-success">Admin</a>
            <% } %>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </div>
    <%} else {%>
        <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>You are logged out</h1>
            <a href="/login" class="btn btn-primary">Login</a>
            <a href="/register" class="btn btn-secondary">Register</a>
        </div>
    </div>
    <% } %>
<%- include("./partials/footer") %>