<%- include("./partials/header", {pageTitle: "Members Only Page"})%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Hello, <%= name %>!</h1>
      <img src=<%=`/images/${Math.floor(Math.random() * 3)}.jpg`;%> alt="Members Image" class="img-fluid img-thumbnail">
      <p>Welcome to the members area.</p>
      <a href="/" class="btn btn-primary">Home</a>
    </div>
  </div>

  <%- include("./partials/footer") %>