<ul class="list-group list-group-horizontal">
  <li class="list-group-item"><h4><%=`${user.name} (${user.userType})`%></h4></li>
  <li class="list-group-item"><button class="btn btn-danger promote" name=<%=`${user.email}`%>>Promote to Admin</button></li>
  <li class="list-group-item"><button class="btn btn-success demote" name=<%=`${user.email}`%>>Demote to User</button></li>
</ul>