<ul class="list-group list-group-horizontal">
  <li class="list-group-item"><p><%=`${user.name} (${user.userType})`%></p></li>
  <li class="list-group-item"><button class="btn btn-danger promote" name=<%=`${user.email}`%>>Promote to Admin</button></li>
  <li class="list-group-item"><button class="btn btn-success demote" name=<%=`${user.email}`%>>Demote to User</button></li>
</ul>