div, body {
    background-color: #181A1B;
}
h1, h2, h3, h4, h5, h6, p, .navbar-brand, .nav-link, .btn, .card-title, .card-text, .form-control, .form-label, li {
    color: #FFFFFF !important;
}
.nav, .navbar {
    background-color: #282C34 !important;
}
.list-group-item {
    background-color: #181A1B !important;
    color: #FFFFFF !important;
}
.img-thumbnail {
    max-width: 70%;
    max-height: 60%;
}
.form-control {
    background-color: #282C34 !important;
    color: #FFFFFF !important;
}
* {
    border: 0 !important;
}